# Archivos compilados
target/
*.class
*.jar
*.war
*.ear

# IDEs
.vscode/
.idea/
*.iml
.classpath
.project
.settings/

# Maven
.mvn/
mvnw
mvnw.cmd

# Sistemas operativos
.DS_Store
Thumbs.db

# Logs
*.log

# Bases de datos locales
*.db
*.h2.db
data/
